<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/quotes.css">
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>

    <title>First Mongo app</title>
</head>

<body>
    <main id=grid_container>

        <h1>Here are the awesome quotes!</h1>

        <section id="content">    
            <% for(var quote in data){ %>
            
                <p id="quote">"<%= data[quote].content %>"</p>
             <span id="quote_stamp">-<%= data[quote].name %> at <%= moment(data[quote].createdAt).format("h:mma MMM Do YYYY") %></span>
            <% } %>
            <!-- <p id="quote">"I make lame jokes"</p> -->
        </section>

    </main>
</body>

</html>